﻿
@{
    ViewBag.Title = "Index";
}
<div class="featured-blocks">
    <div class="banner">
        <div class="container">
            <div class="row-fluid">
                <div class="block">
                    <h1>
                        About Us
                    </h1>
                    <p>
                        ePitara.in was established in 2014 with aim to bring disruption in existing market.
                    </p>
                    <p>
                        Currently ePitara offer services like “Event Management” and “Branding and Promotion” . We have successfully organized
                        various events across IT companies and major societies in Pune. Our Last few events were in Infosys Phase I, Infosys Phase II,
                        Tech Mahindra, Megapolis, Royal Rahadki Greens, Ekatvam, Commerzone, TCS etc
                    </p>
                    <p>
                        We Provide excellent opportunities to brand for direct customer interaction and showcase their products.
                    </p>
                    <p>
                        Being an Indian Company ePitara is focused in promoting Indian Handicrafts as well. Our Product Vertical is focused on high
                        quality premium Marble products. We major deal with wholesale of these products. Our Products range from Jewelry to
                        Home Décor. Demand of such products is across the globe, and we take proud in providing these products at the best
                        possible rates.
                    </p>
                    <p>
                        Our third business vertical is “Content Development and Corporate trainings”. This vertical is managed by highly educated
                        and extremely talented freelancers. We have successfully developed learning content for e-learning company “Cognitel”. We
                        have also conducted multiple corporate trainings in Major IT companies across Pune and Banglore. Our area of expertise is
                        Telecom domain, eTOM, OSS/ BSS, CRM, Product Modelling, SDN/NFV etc
                    </p>
                    <p>Other domains are Banking, Big Data etc</p>
                    <p>
                        Feel free to get in touch with us for any query or even for a general discussion
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>