﻿@model ePitara.Models.ContactViewModel

<div class="featured-blocks">
    <div class="banner">
        <div id="main" class="container">
            <div class="row-fluid">
                <div class="block">
                    <div>
                        @if (ViewBag.Message == null)
                        {
                            using (Html.BeginForm("Index", "Contact", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
                            {
                                @Html.ValidationSummary()
                                <fieldset>
                                    <div class="form-div-1">
                                        <label class="name">
                                            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text" })
                                        </label>
                                    </div>
                                    <div class="form-div-2">
                                        <label class="email">
                                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" })
                                        </label>
                                    </div>
                                    <div class="form-div-3">
                                        <label class="mobile">
                                            @Html.TextBoxFor(m => m.Mobile, new { @placeholder = "Mobile *", @type = "text" })
                                        </label>
                                    </div>
                                    <div class="form-div-3">
                                        <label class="subject">
                                            @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Subject *", @type = "text" })
                                        </label>
                                    </div>
                                    <div>
                                        <label class="message">
                                            @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message *" })
                                        </label>
                                    </div>
                                    <div class="button-wrapper">
                                        <input type="submit" value="Send" name="submit" class="btn btn-success">
                                        <input type="reset" value="Reset" name="MFReset" class="btn btn-success">
                                        <span>* Required Fields</span>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                    <div>
                        @if (ViewBag.Message != null)
                        {
                            <div>@ViewBag.Message</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>