﻿
@{
    ViewBag.Title = "Event Management and Promotions";
}

<style type="text/css">
    #main #gallery .gallery-item {
        height: 300px;
    }

        #main #gallery .gallery-item .album {
            position: relative;
            width: 80%;
            margin: auto;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

            #main #gallery .gallery-item .album img {
                width: 100%;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                border: 4px solid #FFF;
                -moz-box-shadow: 0 0 4px black;
                -webkit-box-shadow: 0 0 4px black;
                box-shadow: 0 0 4px black;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                -moz-transition: all 1s;
                -o-transition: all 1s;
                -webkit-transition: all 1s;
                transition: all 1s;
                -moz-transform-origin: 50% 50% 50%;
                -ms-transform-origin: 50% 50% 50%;
                -webkit-transform-origin: 50% 50% 50%;
                transform-origin: 50% 50% 50%;
            }

                #main #gallery .gallery-item .album img:first-child {
                    position: relative;
                    z-index: 1000;
                }

                    #main #gallery .gallery-item .album img:first-child + img {
                        -moz-transform: rotate(-4deg);
                        -ms-transform: rotate(-4deg);
                        -webkit-transform: rotate(-4deg);
                        transform: rotate(-4deg);
                    }

                #main #gallery .gallery-item .album img:last-child {
                    -moz-transform: rotate(4deg);
                    -ms-transform: rotate(4deg);
                    -webkit-transform: rotate(4deg);
                    transform: rotate(4deg);
                }

            #main #gallery .gallery-item .album:hover {
                width: 85%;
            }

                #main #gallery .gallery-item .album:hover img {
                    z-index: 2000;
                }

                    #main #gallery .gallery-item .album:hover img:first-child {
                        z-index: 3000;
                    }

                        #main #gallery .gallery-item .album:hover img:first-child + img {
                            left: -40px;
                            -moz-transform: rotate(-10deg);
                            -ms-transform: rotate(-10deg);
                            -webkit-transform: rotate(-10deg);
                            transform: rotate(-10deg);
                        }

                    #main #gallery .gallery-item .album:hover img:last-child {
                        left: 40px;
                        -moz-transform: rotate(10deg);
                        -ms-transform: rotate(10deg);
                        -webkit-transform: rotate(10deg);
                        transform: rotate(10deg);
                    }

        #main #gallery .gallery-item p {
            width: 100%;
            text-align: center;
            color: #FFF;
            padding-top: 20px;
        }
</style>
<div class="featured-blocks">
    <div class="banner">
        <div id="main" class="container">
            <div class="row-fluid">
                <div class="block">
                    <h1>Event Management and Promotions</h1>
                    <div class="row-fluid" id="gallery">
                        <div class="span4 gallery-item">
                            <div class="album">
                                <a href="~/Home/event?directoryName=Diwali2017">
                                    <img src="~/images/GalleryImages/Diwali2017/ThumbPath/infydhol3.jpg" alt="" />
                                    <img src="~/images/GalleryImages/Diwali2017/ThumbPath/fc2 glimpses.jpg" alt="" />
                                    <img src="~/images/GalleryImages/Diwali2017/ThumbPath/flea glimpse.jpg" alt="" />
                                </a>
                            </div>
                            <p>Diwali 2017</p>
                        </div>
                        <div class="span4 gallery-item">
                            <div class="album">
                                <a href="~/Home/event?directoryName=InfosysPhase1">
                                    <img src="~/images/GalleryImages/InfosysPhase1/ThumbPath/Infosys_PhotoBooth_2017.jpg" alt="" />
                                    <img src="~/images/GalleryImages/InfosysPhase1/ThumbPath/InfosysPH1_2017_MothersDay.jpg" alt="" />
                                    <img src="~/images/GalleryImages/InfosysPhase1/ThumbPath/InfosysPH1_2017MotherDay.jpg" alt="" />
                                </a>
                            </div>
                            <p>Infosys Phase 1, Pune</p>
                        </div>
                        <div class="span4 gallery-item">
                            <div class="album">
                                <a href="~/Home/event?directoryName=InfosysPhase2">
                                    <img src="~/images/GalleryImages/InfosysPhase2/ThumbPath/Infosys Phase 2.jpg" alt="" />
                                    <img src="~/images/GalleryImages/InfosysPhase2/ThumbPath/Infosys Phase 2.1.jpg" alt="" />
                                    <img src="~/images/GalleryImages/InfosysPhase2/ThumbPath/Infosys_FC2_MothersDay21.jpg" alt="" />
                                </a>
                            </div>
                            <p>Infosys Phase 2, Pune</p>
                        </div>
                        <div class="span4 gallery-item">
                            <div class="album">
                                <a href="~/Home/event?directoryName=TechMahindra">
                                    <img src="~/images/GalleryImages/TechMahindra/ThumbPath/IMG_20170504_141437046.jpg" alt="" />
                                    <img src="~/images/GalleryImages/TechMahindra/ThumbPath/TechM Event.jpg" alt="" />
                                    <img src="~/images/GalleryImages/TechMahindra/ThumbPath/TechM Event1.jpg" alt="" />
                                </a>
                            </div>
                            <p>Tech Mahindra, Pune</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>