﻿<div class="banner">
    <div class="container">
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <h1>Upcoming Events</h1>
                        <br>
                        <h2>Navratri in Jabalpur</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/navratri-1.png" alt="website template image" style="width: 700px;height: 400px;">
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h1>Marketing and Promotions</h1>
                        <br>
                        <h2>Flea market in IT companies</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/Infosys Event.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h1>Marketing and Promotions</h1>
                        <br>
                        <h2>Sales branding</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/TechM Event.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h1>Marbles Handicrafts</h1>
                        <br>
                        <h2>Hand made marbles product</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/wholesale.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
            </div>
            <a data-slide="prev" href="#myCarousel" class="carousel-control left"><i class="fw-icon-chevron-left"></i></a><a data-slide="next" href="#myCarousel" class="carousel-control right"><i class="fw-icon-chevron-right"></i></a>
        </div>
    </div>
</div>
<div class="featured-blocks">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="block">
                    <div class="icon"><i class="fw-icon-group"></i></div>
                    <h1>Event Management and Promotions</h1>
                    <p>ePitira is involved in event management and Promotions, we have strategic alliance with major IT companies across Pune and we help brands promote and organise various events inside major IT companies.</p>
                    @*<a href="#myModal" role="button" class="btn" data-toggle="modal">pop up</a>*@
                    <a href="#" class="btn">More</a>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <div class="icon"><i class="fw-icon-book"></i></div>
                    <h1>Content Development</h1>
                    <p>We have our own specialised team which help our partners to develop Online learning Modules, Training materials etc, our expertise is across Telecom, Banking and Marketing domain</p>
                    @*<a href="#myModal" role="button" class="btn" data-toggle="modal">pop up</a>*@
                    <a href="#" class="btn">More</a>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <div class="icon"><i class="fw-icon-gift"></i></div>
                    <h1>Product Wholesale</h1>
                    <p>As a company of Indian origin, we are focused on promoting Indian Handicrafts, with this vision we have launched some unique handcrafted products. These products are purely made of marbles, We are whole sellers of these and we take pride in supplying these pieces in best possible rate.</p>
                    @*<a href="#myModal" role="button" class="btn" data-toggle="modal">pop up</a>*@
                    <a href="~/Home/Wholesale" class="btn">More</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <h2>Pellen tesque lacinia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis sed mauris a accumsan. Phasellus quis scelerisque lacus. Aenean nec orci sit amet justo interdum ullamcorper eget eu diam. Integer dictum sem eu adipiscing cursus. Suspendisse posuere dui eu dignissim fermentum. .</p>
                <p>Phasellus adipiscing porttitor metus, eget commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut hendrerit ante. Phasellus viverra ligula tortor, ut sodales elit tempus eu. Vestibulum mattis sed purus at laoreet. Proin mattis, ante vel adipiscing porttitor, orci elit venenatis nibh, at molestie tortor dolor sit amet urna.  .</p>
            </div>
        </div>
    </div>
</div>
<div class="featured-heading">
    <div class="container">
        <ul class="grid effect-8" id="grid" style="position: relative; height: 80px; perspective-origin: 50% 1779px;">
            <li class="animate" style="position: absolute; left: 0px; top: 0px; animation-duration: 0.679011s;">
                <h1><span style="text-transform:none">ePitara Stories</span></h1>
                <h2>Stories of people inspired by ePitara</h2>
            </li>
        </ul>
        @*<div class="h-divider">
                <div class="icon1"><i class="fw-icon-star"></i></div>
            </div>*@
        <div class="row-fluid">
            @*<ul class="grid effect-3" id="grid">
                    <li class="span6 animate" style="animation-duration: 0.540407s;">
                        <div class="block">
                            <img src="~/images/img1.png" alt="website template image">
                            <h1>ipsum dolor sit amet</h1>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse auctor urna id justo adipiscing, vel egestas sem scelerisque. Sed sed nulla dignissim magna ultricies scelerisque. Duis suscipit tellus nisi, gravida hendrerit nisi feugiat vitae faliclisis metus placerat enim.</p>
                            <a href="#" class="btn">More</a>
                        </div>
                    </li>
                    <li class="span6 animate" style="animation-duration: 0.583514s;">
                        <div class="block">
                            <img src="~/images/img1.png" alt="website template image">
                            <h1>Vivamul dolorem inputions quinto</h1>
                            <p>Jolem aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse auctor urna id justo adipiscing, vel egestas sem scelerisque. Sed sed nulla dignissim magna ultricies scelerisque. Duis suscipit tellus nisi, gravida hendrerit nisi feugiat vitae faliclisis metus placerat enim.</p>
                            <a href="#" class="btn">More</a>
                        </div>
                    </li>
                </ul>*@
        </div>
    </div>
</div>
<div class="featured-images">
    <div class="container">
        @*<h1>In eget augue eget mauris</h1>
            <h2>Lorem luctus vestibulum</h2>*@
        @*<div class="hh-divider"></div>*@
        <div class="row-fluid">
            <ul class="grid effect-3" id="grid">
                <li class="span3 animate" style="animation-duration: 0.69112s;">
                    <div class="user-info">
                        <img src="~/images/img5.png" class="imageCenter" alt="website template image">
                        <h1>Peter</h1>
                        <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                        @*<ul>
                                <li><a href="#"><i class="fw-icon-facebook"></i></a></li>
                                <li><a href="#"><i class="fw-icon-twitter"></i></a></li>
                            </ul>*@
                    </div>
                </li>
                <li class="span3 animate" style="animation-duration: 0.482231s;">
                    <div class="user-info">
                        <img src="~/images/img6.png" class="imageCenter" alt="website template image">
                        <h1>Kate</h1>
                        <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                        @*<ul>
                                <li><a href="#"><i class="fw-icon-facebook"></i></a></li>
                                <li><a href="#"><i class="fw-icon-twitter"></i></a></li>
                            </ul>*@
                    </div>
                </li>
                <li class="span3 animate" style="animation-duration: 0.667465s;">
                    <div class="user-info">
                        <img src="~/images/img7.png" class="imageCenter" alt="website template image">
                        <h1>Johny</h1>
                        <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                        @*<ul>
                                <li><a href="#"><i class="fw-icon-facebook"></i></a></li>
                                <li><a href="#"><i class="fw-icon-twitter"></i></a></li>
                            </ul>*@
                    </div>
                </li>
                <li class="span3 animate" style="animation-duration: 0.428315s;">
                    <div class="user-info">
                        <img src="~/images/img8.png" class="imageCenter" alt="website template image">
                        <h1>winslet</h1>
                        <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                        @*<ul>
                                <li><a href="#"><i class="fw-icon-facebook"></i></a></li>
                                <li><a href="#"><i class="fw-icon-twitter"></i></a></li>
                            </ul>*@
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });
    $('#myCarousel').carousel({
        interval: 5000
    });
</script>