﻿<div class="banner" style="padding-bottom:15px">
    <div class="container">
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <h1>Upcoming Events</h1>
                        <br>
                        <h2>Malaka Spice</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/Christmas.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h1><a href="~/Services/Events">Marketing and Promotions</a></h1>
                        <br>
                        <h2><a href="~/Services/Events">Flea market in IT companies</a></h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/Infosys Event.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h1>Marketing and Promotions</h1>
                        <br>
                        <h2>Sales branding</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/TechM Event.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h1>Marbles Handicrafts</h1>
                        <br>
                        <h2>Hand made marbles product</h2>
                        <div class="shadow"><img src="~/images/shadow.png" alt="website template image"></div>
                    </div>
                    <img src="~/images/events/wholesale.jpg" alt="website template image" style="width: 700px;height: 400px;">
                </div>
            </div>
            <a data-slide="prev" href="#myCarousel" class="carousel-control left"><i class="fw-icon-chevron-left"></i></a><a data-slide="next" href="#myCarousel" class="carousel-control right"><i class="fw-icon-chevron-right"></i></a>
        </div>
    </div>
</div>
<div class="featured-blocks">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="block">
                    <div class="icon"><i class="fw-icon-group"></i></div>
                    <h1>Event Management and Promotions</h1>
                    <p>ePitira is involved in event management and Promotions, we have strategic alliance with major IT companies across Pune and we help brands promote and organise various events inside major IT companies.</p>
                    @*<a href="#myModal" role="button" class="btn" data-toggle="modal">pop up</a>*@
                    <a href="~/Services/Events" class="btn">More</a>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <div class="icon"><i class="fw-icon-book"></i></div>
                    <h1>Upcoming Events</h1>
                    <p>
                        Next event is on 11 & 12 Dec 2017 at baner.
                    </p>
                    @*<a href="#myModal" role="button" class="btn" data-toggle="modal">pop up</a>*@
                    <a href="#" class="btn">More</a>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <div class="icon"><i class="fw-icon-gift"></i></div>
                    <h1>Product Wholesale</h1>
                    <p>As a company of Indian origin, we are focused on promoting Indian Handicrafts, with this vision we have launched some unique handcrafted products. These products are purely made of marbles, We are whole sellers of these and we take pride in supplying these pieces in best possible rate.</p>
                    @*<a href="#myModal" role="button" class="btn" data-toggle="modal">pop up</a>*@
                    <a href="~/Home/Wholesale" class="btn">More</a>
                </div>
            </div>
        </div>
        @*<div class="row-fluid">
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <h2>Pellen tesque lacinia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis sed mauris a accumsan. Phasellus quis scelerisque lacus. Aenean nec orci sit amet justo interdum ullamcorper eget eu diam. Integer dictum sem eu adipiscing cursus. Suspendisse posuere dui eu dignissim fermentum. .</p>
                    <p>Phasellus adipiscing porttitor metus, eget commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut hendrerit ante. Phasellus viverra ligula tortor, ut sodales elit tempus eu. Vestibulum mattis sed purus at laoreet. Proin mattis, ante vel adipiscing porttitor, orci elit venenatis nibh, at molestie tortor dolor sit amet urna.  .</p>
                </div>
            </div>*@
        <div class="site-footer">

        </div>
    </div>
</div>
<script>
    //new AnimOnScroll(document.getElementById('grid'), {
    //    minDuration: 0.4,
    //    maxDuration: 0.7,
    //    viewportFactor: 0.2
    //});
    $('#myCarousel').carousel({
        interval: 5000
    });
</script>